/* ---------- <header> ---------- */
#top_bar{
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	height:120px;
	z-index: 200;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140, 34, 38,1)), color-stop(50%,rgba(240,34,37,1)));
	box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 35px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
}

.top_bar div{
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	opacity: 0.7;
}

.sName {
	margin-top: calc(2%);
	margin-left: calc(40% - 200px);
	float: left;
	color: #ef2393;
	font-family: 'Exo', sans-serif;
	font-size: 56px;
	font-weight: 200;
	text-shadow: 0 0 5px #000;
}

.sName span{
	color: #EF3031 !important;
}

.login {
	float:right;
	margin-top:4px;
	margin-right:20px;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 8px;
}

input[type=submit]{
	width: 250px;
	height: 30px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 8px;
}

input[type=submit]:hover{
	opacity: 0.8;
}

input[type=submit]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

input[type=submit]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.connect{
	float:right;
	width: 400px;
	margin-top:20px;
}

.connect .userimage{
	border: 2px solid;
    border-color: #8F7514 #C9A932;
    border-radius: 100%;
    float: left;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}

 .username{
	color: #f1e6d0;
    font-size: 22px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0,0,0,.7);
    text-transform: uppercase;
}

.connect .victories{
    color: #FFF;
    font-family: arial;
    font-size: 16px;
    padding: 0 16px;
    height: 32px;
	font-size: 20px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0,.7);
}

.logout input[type=submit]{
	width: 250px;
	height: 30px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 2px;
	margin-left: 50px;
}


.logout input[type=submit]:hover{
	opacity: 0.8;
}

.logout input[type=submit]:active{
	opacity: 0.6;
}

.logout input[type=submit]:focus{
	outline: none;
}

/* ---------- </header> ---------- */


/* ---------- Body and so on ----------*/
body{
	position: absolute;
	background-image: url(https://i.imgur.com/5oKF545.jpg); /* http://bgfons.com/uploads/velvet/velvet_texture1777.jpg */
    left: 0px;
    right: 0px;
    top: 50px;
	margin: auto;
    margin-left:30%;
    width: 900px;
    border-radius: 15px;
    box-shadow: 0 0 30px #ffb9b9, 0 0 90px rgba(255,255,255,.3) inset;
    border: solid 2px rgba(255,255,255,.1);
    padding: 50px;
    padding-top: 0px;
    z-index: 0;
	margin-top:130px;
	margin-bottom:-70px;
	background-color: #af1323;
	background-size: cover;
	
}

/*---------- registration ----------*/

.register {
}

.register input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.register input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 8px;
}

.register input[type=submit]{
	width: 250px;
	height: 30px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 8px;
}

.invalid {
	border: 1px solid #f22;
}

#error,#cerror {
	color:red;
}

.register input[type=submit]:hover{
	opacity: 0.8;
}

.register input[type=submit]:active{
	opacity: 0.6;
}

.register input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.register input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.register input[type=submit]:focus{
	outline: none;
}


/*---------- registration ----------*/


#container{
	display:inline-block;
	width:100%;
	margin-bottom:50px;
}

#container h1{
    width: 100%;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
	margin-bottom: 10px;
    font-family: oswald;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 5px #000;
    color: rgba(190,80,80,.9);
}

.contents {
	padding: 10px 10px 10px 10px;
	background-color: rgba(56,0,9,.8);
	color: #fff;
	text-shadow: 0 0 5px #000;
	/* round edges */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}

.join input[type=submit]{
	margin: 0 auto;
	display: block;
	width: 250px;
	height: 30px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 8px;
}

.game {
	display:block;
	width:100%;
	height:80vh !important;
	overflow:hidden;
}

.game .dispCard{
    max-height: 180px;
    max-width: 120px;
	position: absolute;
	visibility: visible; 
	z-index: 30; 
	box-shadow: 0 0 30px #ffb9b9, 0 0 90px rgba(255,255,255,.3) inset;
}

.game .nparea{
	position:absolute;
	right: 33%;
	top: 39%;
}

.game  .discardpile{
	position:absolute;
	left: 28%;
	top: 33%;
}

.game .handCard{
	max-height: 120px;
    max-width: 80px;
}
/*
.game .handCard:hover{
    width:200px;
    height:auto;
    z-index:999;
}*/

.game .playername{
	position: absolute;
	visibility: visible; 
	z-index: 30; 
	font-size: 20px;
}

.game .pcInHand{
	position: absolute;
	visibility: visible; 
	z-index: 30; 
}
/*
.p1area .playedCard .dispCard{
	left: 25%;
	top: 55%;
}

.p2area .playedCard .dispCard{
	right: 25%;
	top: 15%;
}

.p3area .playedCard .dispCard{
	left: 10%;
	top: 15%;
}

.p4area .playedCard .dispCard{ 
	right: 10%;
	top: 55%;
}
*/
.p1area .pcInHand{
	left: 30%;
	top: 60%;
}

.c12{
	left: 88px;
}

.c11, .c12, .c13 {
	position:absolute;
}

.p2area .pcInHand{
	right: 30%;
	top: 15%;
}

.p3area .pcInHand{
	left: 10%;
	top: 30%;
}

.p4area .pcInHand{
	right: 10%;
	top: 20%;
}

.p1area .pcInHand img,.p2area .pcInHand img{
	margin-right:10px;
}
.p3area .pcInHand img{
	display: block;
	margin-bottom:-20px;	
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.p4area .pcInHand img{
	display: block;
	margin-bottom:-20px;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.p1area .playername{
	left: 28%;
	top: 76%;
}

.p2area .playername{
	right: 28%;
	top: 12%;
}

.p3area .playername{
	left: 13%;
	top: 12%;
}

.p4area .playername{
	right: 13%;
	top: 76%;
}

.removed img{
	filter: grayscale(80%);
}

.sidenav {
	height:84%;
	width: 25%;
	position: fixed;
	z-index: 1;
	top: 140px;
	left: 0;
	padding-top: 20px;
	text-align:center;
	
}

.sidenav .displayCard{
    width: 80%;
	height: auto;
	float: center;
}

i {
    border: solid #fff;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 20px;
}
.arrowd{
	bottom: 0;
    width: 100%;
}
.arrowup {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrowdown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/*---------- body ----------*/

/*---------- <footer> ----------*/
#footer{
	display:flex;
	width:100%;
	height:80px;
	background-color:rgba(255,250,250,.1);
	color: rgba(56,0,0,1);
	text-shadow: 0 0 3px #dbb;
	font-size: 20px;
	/* round edges */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	-khtml-border-radius: 10px;
}

#footer>div{
	width:30%;
	padding:1.5%;
	text-align:center;
}
/*---------- </footer> ----------*/